.list-of-products{
  list-style-type: none;
  overflow: auto;
}

.product-item {
    /*height: 200px;*/
    width: 150px;
    background-color: gray;
    float: left;
    margin: 10px;
    text-align: center;
}

.product-item a{
  display: block;
  padding: 30px;
}

.active{
  display: none;
}
